body{
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(
            to bottom,
            #dcdcdc 50%,
            #e9e9e9 30%
        );
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

main{
    background-color: #e9e9e9;
    width: 400px;
    max-width: 400px;
    height: 600px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 0 30px 50px;
    box-sizing: border-box;
    padding: 30px;
}

main form{
    align-items: center;
    justify-content: space-between;
}
main form input{
    width: 90%;
    border: 3px solid rgba(71, 69, 69, 0.2);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    box-shadow: 2px 3px 4px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 20px;
}


main form button{
    width:300px;
    height: 50px;
    border-radius: 15px;
    align-items: center;
    box-shadow: 3px 4px 5px;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(197, 255, 109);
    margin-bottom: 20px;
}

main p{
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(100, 65, 0);
    text-align: center;
    align-items: center;
}

main img{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 150px;
    height: 150px;
    background-image: url('../static/loginLogo.png');
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    border-radius: 50%;
}

main h1,h2{
    text-align: center;
    margin-top: 20%;
}

main .showUser{
    background-image: url('../static/userLogo.png');
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-top: 20%;
}

main .sent{
    color: rgb(7, 105, 0);
    gap: 5px;
    font-size: 1.8rem;
}

main .warning{
    color: red;
    gap: 10px;
    font-size: 1.8rem;
}

main .mt{
    margin-top: 40px;
}

@media (max-width: 600px) {
    main {
        width: 95%;
        margin-top: 5%;
        padding: 20px;
    }

    main form input, main form button {
        font-size: 14px;
        padding: 12px;
    }

    main p {
        font-size: 16px;
    }

    main img, main .showUser {
        width: 80px;
        height: 80px;
    }

    main h1, main h2 {
        margin-top: 5%;
    }
}

@media (max-width: 400px) {
    main {
        width: 100%;
        padding: 10px;
    }

    main form input, main form button {
        font-size: 12px;
        padding: 10px;
    }

    main p {
        font-size: 14px;
    }

    main img, main .showUser {
        width: 70px;
        height: 70px;
    }
}
