<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
    <main>
        <form action="/forgot_password" method="post">
            <input type="email" name="email" placeholder="Enter registered email"><br>
            <button type="submit">get otp</button>
        </form>
        <h2>{{ sent }}</h2>
        <form action="/check_otp" method="post">
            <input type="password" name="otp" placeholder="Enter OTP"><br>
            <button type="submit">submit</button>
        </form>
        
        <p>Don't have an account? <br><a href="/signUp">create account</a></p>
        <p>{{ msg }}</p>
    </main>
</body>
</html>